---
BasedOnStyle: Chromium
IndentWidth: 3
---
Language: Cpp
PackConstructorInitializers: Never
ColumnLimit: 100
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false
BreakBeforeTernaryOperators: true
ContinuationIndentWidth: 3
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000
ReferenceAlignment: Left
PointerAlignment: Left
DerivePointerAlignment: false
