*
!docker_default_preprocessing_config.yaml
!docker_runtime_config.yaml
!CMakeLists.txt
!buildScripts/
!Makefile
!conanfile.py
!.clang-tidy
!src/
!performance/
!testBaseData/
!test/
!release_version.txt/
