schema:
  instanceName: sars_cov-2_minimal_test_config
  metadata:
    - name: strain
      type: string
    - name: date
      type: date
    - name: region
      type: string
      generateIndex: true
    - name: country
      type: string
      generateIndex: true
    - name: pangoLineage
      type: pango_lineage
    - name: division
      type: string
      generateIndex: true
    - name: age
      type: int
    - name: nextcladeQcOverallScore
      type: float
    - name: insertions
      type: insertion
    - name: aaInsertions
      type: aaInsertion
  primaryKey: strain
  dateToSortBy: date
  partitionBy: pangoLineage