schema:
  instanceName: sars_cov-2_minimal_test_config
  metadata:
    - name: strain
      type: string
    - name: date
      type: date
    - name: region
      type: string
      generateIndex: true
    - name: country
      type: string
      generateIndex: true
    - name: pangoLineage
      type: string
      generateIndex: true
      lineageIndex: true
    - name: division
      type: string
      generateIndex: true
    - name: age
      type: int
    - name: nextcladeQcOverallScore
      type: float
  primaryKey: strain
  dateToSortBy: date
  partitionBy: pangoLineage